.team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%;
}
.team-heading {
    font-size: 40px;
    font-family:'Viga', sans-serif;
    color: #2d3142;
}

.team-divider {
    width: 50px;
    height: 4px;
    background-color: #2d3142;
    margin-bottom: 40px;
}

.tutor-container{
    margin-bottom: 60px;
}

.tutor-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.tutor-picture img{
    height: 300px;
    width: 290px;
    border-radius: 20%;
}

.tutor-name{
    padding: 20px;
}

.tutor-description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tutor-description h4{
    font-size: 22px;
}

@media only screen and (max-width: 1024px) {
    .tutor-description h4{
        font-size: 18px;
    }
}