.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
}


.card-image img {
    width: 200px;
}

.card-heading {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;

}

.card-caption {
    text-align: center; 
    font-family: 'Oxygen', sans-serif;
}
