.exercise-container {
    background-color: #2d3142;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 50px 20px;
}

.exercise-heading {
    font-size: 40px;
    font-family: 'Viga', sans-serif;
    color: white;
}

.exercise-divider {
    width: 50px;
    height: 4px;
    margin-bottom: 40px;
    background-color: white;
}

.exercise-content {
    display: flex;
    justify-content: space-around;
    width: 500px;
}