.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%;
    background-color:#2d3142;
}

.section-heading {
    font-size: 40px;
    font-family:'Viga', sans-serif;
    color: white;
}

.divider {
    width: 50px;
    height: 4px;
    background-color: black;
}

.section-columns {
    display: flex;
    justify-content: space-around;
    color: white;
}

/*Mobile View*/
@media only screen and (max-width: 768px) {
    .section-columns {
        flex-direction: column;
    }

    .section-heading {
        font-size: 35px;
    }
  };