.submenu-container {
    width: 100%;

}

.submenu-link {
    text-decoration: none;
    width: 100%;
    padding: 20px 30px;
    color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: all 0.5s ease;
    color: black;
    
}

.submenu-link:hover {
    padding-left: 40px;
    background-color: #f8c313;

    
}

.submenu-link-active {
    text-decoration: none;
    width: 100%;
    padding: 20px 40px;

    background-color: #f8c313;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s ease;
}

.submenu-link-active:hover {
    background-color: #f8c313;;
}

.submenu-label {
    font-size: 20px;
    font-family: 'Oxygen', sans-serif;
}

.submenu-arrow {

}

.sub-submenu {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10px 50px;
    width: 100%;
    transition: all 0.5s ease;
}

.sub-submenu:hover {
    color: #bfc0c0;
    font-size: 17px;
}
