.submenu-container {
    width: 100%;

}

.submenu-link {
    text-decoration: none;
    width: 100%;
    padding: 20px 30px;
    color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: all 0.5s ease;
    color: black;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.submenu-link:hover {
    padding-left: 40px;
    background-color: #ef8354;
    color: white;
    
}

.submenu-link-active {
    text-decoration: none;
    width: 100%;
    padding: 20px 40px;
    color: white;
    background-color: #ef8354;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: all 0.5s ease;
}

.submenu-link-active:hover {
    background-color: #ef8354;
}

.submenu-label {
    font-size: 20px;
}

.submenu-arrow {

}

.sub-submenu {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10px 50px;
    width: 100%;
    transition: all 0.5s ease;
}

.sub-submenu:hover {
    color: #bfc0c0;
    font-size: 17px;
}
